body {
  margin: 0;
  font-family: 'Eczar', serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(34, 34, 34);
  /*url('https://www.xtrafondos.com/wallpapers/rick-y-morty-en-el-espacio-9232.jpg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
